body
{
    /* background-color: whitesmoke; */
    background: linear-gradient(to right, rgb(93, 93, 251), white);
}

/* Form Style */
.login-form,
.forgot-password-form,
.sign-up-page,
.home-page,
.reset-page
{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(59, 59, 59);
}

/* Input Fields Style */
.name-input,
.email-input,
.password-input,
.repeat-password,
.newpassword,
.confirm-password
{
    border: 2px solid rgb(51, 51, 51);
}
